/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

 
/* CUSTOM STYLES  */

*{
    box-sizing: border-box;
}

body{
    font-size:16px;
    line-height:1.5;
}
.container {
    max-width:1100px;
    margin: 0 auto;
    padding:0 32px;
}
.flex{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.center{
    display:flex;
    justify-content: center;
    align-items: center;
}
body{
    background:url("banner.jpg") no-repeat;
    background-size: cover;
    height:100vh;
}
/*  HEADER */

.header{
    text-align: center;
    padding:30px 0 ;
}
h1{
    font-size:40px;
    color:white;
    font-weight: 900;
}

.box{
    width:30%;
    height:180px;
    border-radius:10px;
    font-size:24px;
    font-weight:900px;
    margin:10px 0;
    background-color:white;
}
.box-1{
    background-color:rgb(221, 20, 80);
}
.box-2{
    background: linear-gradient(to left,rgb(221, 20, 80), rgb(15, 13, 13) );
}
.box-3{
    background: radial-gradient(rgb(221, 20, 80),rgb(15, 13, 13));
}
.col-2{
  margin:50px 0;
}
.box-4{
    width:100%;
    height:260px;
    background-image:linear-gradient(90deg, blue,red)
}